{% load static %}

{% block content %}
<div id="header">
	<nav class="nav flex-column justify-content-center">
		<a data-toggle="list" href="/" role="tab" aria-controls="home">Home</a>
		<a data-toggle="list" href="/" role="tab" aria-controls="profile">Profile</a>
		<a data-toggle="list" href="/" role="tab" aria-controls="messages">Messages</a>
	</nav>

	<a href="/" id="home_logo">
		<img src="{% static 'img/home_icon.png'%}" />
	</a>

	<!-- MENU START -->
	<div class="menu_container">
		<ul class="menu_button">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- MENU END -->
</div>
{% endblock %}
