{% extends "admin/change_form.html" %}
{% load static sass_tags %}
{% load render_bundle from webpack_loader %}


{% block extrastyle %}
	{{ block.super }}
	<link href="{% sass_src 'css/admin_change_form.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}


		<link href="{% sass_src 'css/base.scss' %}" rel="stylesheet" type="text/css" />
{% block field_sets %}
	{{ block.super }}
	{% include "admin/posts/contents_fieldset.html" %}
{% endblock %}


{% block after_related_objects %}
<div id="edit-contents"></div>
{{ post_dict | json_script:"post_data" }}
{% endblock %}


{% block admin_change_form_document_ready %}
{{ block.super }}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
{% render_bundle 'main' %}
{% endblock %}