.content-content {
	border: 1px solid red;
	.content-headline {
		height: 10em;
		width: 100%;
		padding-left: 5% 2%;
	}
	.content-text {
		height: 10em;
	}
}

.content-buttons {
	border: 1px solid green;
}