$btn-light-gray: #f8f9fa;

.post-content {
	.rendered-content {
		.content-headline {
			width: 100%;
			height: auto;
			border-bottom: 2px solid #FFC300;
			.row {
				width: 100%;
				padding: 5% 2%;
			}
		}
		.content-text {
			height: auto;
			min-height: 10em;
			pre {
				padding: 10px 10px;
				border-radius: 5px;
				&:hover {
					background: $btn-light-gray;
				}
			}
		}
	}
	.content-buttons {
	}
}