{% extends "base.html" %}
{% load static sass_tags %}

{% block extra_css %}
<link href="{% sass_src 'css/posts/home.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="row" id="latest_post" style="background-color: {{latest_post.get_home_page_background_color}};">
	<div class="col-lg-7 col-sm-6 text-center d-flex align-items-center">
		<div class="container">
			<div class="row">
				<a class="w-100 title" href="{% url 'posts:detail' latest_post.id %}">{{ latest_post.title }}</a>
			</div>
			<div class="row">
				<span class="">{{latest_post.description}}</span>
			</div>
		</div>
	</div>
	<div class="col-lg-5 col-sm-6 image-fluid" id="latest_post_image" style="background-image: url('{{latest_post.image_url}}');">
	</div>
</div>

<div class="row" id="posts">
	<div class="col-lg-4 col-sm-12 col-xs-12">
		<img class="img_responsive" src="{{ post_1.image_url }}" />
		<a class="title" href="{% url 'posts:detail' post_1.id %}">{{ post_1.title }}</a>
		<span>{{post_1.description}}</span>
	</div>
	<div class="col-lg-4 col-sm-12 col-xs-12">
		<img class="img_responsive" src="{{ post_2.image_url }}" />
		<a class="title" href="{% url 'posts:detail' post_2.id %}">{{ post_2.title }}</a>
		<span>{{post_2.description}}</span>
	</div>
</div>

<div class="row" id="post_3">
	<div class="col-lg-4 d-flex" id="post_3_text">
		<div class="row text-justify align-self-center">
			<a class="title" href="{% url 'posts:detail' post_3.id %}">{{ post_3.title }}</a>
			<span>{{ post_3.description }}</span>
		</div>
	</div>
	<div class="col-lg-5">
		<img class="img_responsive" src="{{ post_3.image_url }}" />
	</div>
</div>
{% endblock %}