#about-container {
	padding-top: 5%;
	.row:nth-child(1) {
		height: 60vh;
		#profile-img {
			height: 85%;
			background-image: url('/static/img/profile.jpg');
			background-size: 100% 100%;
		}
		#profile-description {
		}
	}
}