.hover {
  position: relative;

  &:hover &__no-hover {
    opacity: 0;
  }

  &:hover &__hover {
    opacity: 1;
  }

  &__hover {
    position: absolute;
    top: 0;
    opacity: 0;
    a {
      margin: 0 10px;
    }
  }

  &__no-hover {
    margin: 0 20px;
    opacity: 1;
  }
}
