* a.title {
	display: block;
	font-weight: 500;
	font-size: 2.5rem;
	color: black;
}

#latest_post {
	color: white;
	height: 80vh;
	div.row.align-items-center {
		height: 100%;
		min-height: 100%;
	}
	#latest_post_image {
		max-width: 100%;
		height: auto;
		background-size: 100% 100%;
	}
	a.title {
		color: white;
		font-size: 2.5rem;
	}
}

#posts {
	div {
		box-sizing: content-box;
	}
	height: 50%;
	padding: 10% 10% 0 10%;
}

#post_3 {
	padding: 5% 10%;
	#post_3_text {
		padding-top: 10%;
	}
}